.Button a {
    /* background: rgb(75,206,166); */
    width:100%;
    padding:12px 10px;
    display:flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    color:#F9F9F2;
    font-size:19px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    gap:10px;
    align-items: center;
}

.Button a:hover{
    scale:107%;
}

.primary{
    background: linear-gradient(265.27deg, #0000 12%, #4BCEA6 94.17%);  
    background-color:#A9DD97;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}

.primary:hover{
    background-color: #cbc36e;
    border-radius: 30px;
}

.secondary{
    background-color:#F9F9F2;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    border: 3px solid #6ccf9c;
}

.secondary a{
    color: #6ccf9c
}

@media only screen and (max-width:762px){
    .Button a{
        width:100%;
    }
    .Button{
        width:100%;
    }
    .Button a{
        font-size:17px;
    }
}

@media only screen and (max-width:540px){
    .Button a{
        font-size:16px;
    }
}