.MedSos {
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 19;
}


.scrollUp,
.sosmed, 
.kontak {
    width: fit-content;
    padding: 12px 12px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 24px;
    margin: 5px 20px 0 0;
    color: #F9F9F2;
    /* line-height: 3px; */
    align-items: center;
    display: flex;
}

.MedSos i {
    width: 24px;
    height: 24px;
    text-align: center;
}

.sosmed, .kontak {
    background-color: #354C3F;
    transition: 0.2s ease-in-out;
    padding: 12px 12px;
}

.scrollUp {
    background-color: #72BF82;
    color: #F9F9F2;
    transition: 0.2s ease-in-out;
    padding: 12px 12px;
}

.kontak{
    display: none;
}


.sosmed:hover, .kontak:hover {
    background-color: #72BF82;
    color: #F9F9F2;
    padding: 12px 12px;
}

.scrollUp:hover {
    background-color: #354C3F;
    padding: 12px 12px;
}

@media only screen and (max-width:540px){
    .sosmed{
        display: none;
    }
    .kontak{
        display: block;
    }
}