.Slide{
    height: 450px;
    width:100%;
    /* overflow:hidden; */
}

.imgContainer {
    display:block;
    flex-shrink: 0;
    flex-grow:0;
    position: relative;
    width: 100%; /* Full width */
    height: inherit;
    aspect-ratio: 16 / 9; /* Adjust based on desired aspect ratio */
    background-color: #72BF82;
    transition: translate 300ms ease-in-out;
  }

  .imgslides{
    object-fit: cover;

    
    
}


.herotext{
    z-index: 4;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    color: #F9F9F2;
    letter-spacing: 1px;
    /* min-width: 360px; */
    align-items: flex-start;
    height: 100%;
    inset: 0;
    align-content: center;
    justify-content: center;
    max-width: 1120px;
    padding: 30px;
}

.Slide h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 36px;
}

.Slide h3{
    font-weight: 600;
    line-height: 18px;
}

.buttonWrapper{
    width:300px;
}



.Slide, .Slide::before, .Slide::after{
    box-sizing: border-box;
}

.slidebutton{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.slidebutton:hover{
    background-color: rgb(0, 0, 0, 0.2);
}

.slidebutton:hover > *{
    animation: squish 200ms ease-in-out;
}

.slidebutton > *{
    stroke: #F9F9F2;
    fill: #F9F9F2;
    width: 2rem;
    height: 2rem;
}

/* .slidebutton:hover, .slidebutton:focus-visible{
    background-color: rgb(0, 0, 0, 0.2);
}

.slidebutton:hover, .slidebutton:focus-visible{
    animation: squish 200ms ease-in-out;
} */

.slidedot{
    all: unset;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 100ms ease-in-out;
}

.slidedot > * {
    height: 70%;
    width: 70%;
} 

/* .Slide Circle{
    fill:white;
}


.Slide CircleDot{
    fill:black;
    stroke:black;
} */

.slidedot:hover{
    scale:1.2;
}

@keyframes squish{
    50%{
        scale: 1.4 0.6;
    }
}

@media only screen and (max-width:1023px){
    .herotext h2{
        font-size: 30px;
        line-height: 28px;
    }
    .herotext{
        text-align: center;
        align-items: center;
    }
    .Slide{
        height:400px;
    }
}

@media only screen and (max-width:450px){
    .buttonWrapper{
        width:100%
    }
    .Slide{
        height:300px;
    }
}