.Footer{
    background-color: #f8f7ee;
    width: 100vw;
    padding:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


.sosmed{
    background-color: #4FC6A3;
    padding:10px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    z-index: 200;
    font-size:20px;
    display:block;
    width:100%;
    margin:5px 20px 0 0;
}

.sosmed:hover{
    background-color: #26293e;
    transition: 0.5s;
    color:white;
}