.Kontak {
    width: 100%;
}

.wrapper {
    display: flex;
    column-gap: 50px;
    row-gap:30px;
    margin-top: 20px;
    width: 100%;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}


.logo {
    max-height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.imgContainer {
    min-width: 95px;
    height: 95px;
    background-color: #72BF82;
    border-radius: 50%;
    position: relative
}

.kontakContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    width: 400px;
}

.kontakInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.sosmed {
    width: fit-content;
    padding: 7px 7px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    color: #F9F9F2;
    align-items: center;
    display: flex;
}

.Kontak i {
    text-align: center;
    width: 14px;
    height: 14px;
    position: relative;
    top: 7%;

}

.sosmed {
    background-color: #354C3F;
    transition: 0.2s ease-in-out;
}

.Kontak a{
    color:#354C3F;
}

.Kontak a:hover{
    color:#72BF82;
}


@media only screen and (max-width:810px) {
    .wrapper {
        flex-direction: column;
    }
    .wrapper{
        align-items: center;
    }

    /* .kontakContainer{
        width:80%
    } */
}

@media only screen and (max-width:540px) {
    .wrapper {
        flex-direction: column;
    }

    /* .kontakContainer{
        flex-direction: column;
        width:100%;
        text-align: center;
    } */

}

@media only screen and (max-width:400px) {
    .kontakContainer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .kontakContainer{
        width: 100%;
     }
     .buttonWrapper{
        align-items: center;
     }
}