.img {
    object-fit: cover;
    /* max-width: 318px; */
    width: 100%;
    max-height: 190px;
    border-radius: 15px 15px 0 0;
    transition: 0.2s ease-in-out;
}



.Galeri {
    margin: 0px;
    display: flex;
    flex-direction: row;
    min-height: 190px;
    margin: 0px;
    transition: transform 300ms ease-in-out;
    transform: translateX;
}



.groupTesti {
    display: flex;
    margin: 0;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemTesti {
    transition: 0.2s ease-in-out;
    width: 100%;
    padding: 5px;

}

.itemTesti:hover {
    scale: 101%;
}

.img:hover {
    opacity: 80%;
}

.imgLabel {
    position: relative;
    background-color: #F9F9F2;
    padding: 2px 15px;
    font-size: 13px;
    z-index: 30;
    /* margin-top: 150px; */
    border-radius: 0 0 15px 15px;
    /* width: 100%; */
    /* height: inherit; */
    /* bottom: 58px; */
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-width: 1045px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 300;
}

.overlay {
    background: rgba(49, 49, 49, 0.8)
}

.modalContent {
    position: absolute;
    /* top: 19%; */
    /* left: 23%; */
    background-color: #f8f7ee;
    /* padding: 0 0 100px 0; */
    border-radius: 20px;
    z-index: 301;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 620px;
    height: fit-content;
}

.modalContent button {
    all: unset;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}

.modalContentImg {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    display: flex;

}

.imageContainer {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    background-color: #72BF82;
}

.slidedot {
    all: unset;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 100ms ease-in-out;
}

.slidedot>* {
    height: 70%;
    width: 70%;
}

.slidedot:hover {
    scale: 1.2;
}

.slideDot {
    display: none;
}

.bigTestiWrapper {
    width: calc(100% + 130px);
    display: flex;
    align-items: center;
}


@media only screen and (max-width:1190px) {
    .itemTesti {
        width: calc(100% / 2 - 5px);

    }

    .modalContent {
        margin: auto 30px;
    }

    .nextprevWrapper {
        display: none;
    }

    .bigTestiWrapper {
        flex-direction: column;
        width: 100%;
    }

    .slideDot {
        display: flex;
        flex-direction: row;
    }

    .groupTesti {
        scroll-snap-align: start;
    }

    .wrapper {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        min-width: 100%;
    }
}

@media only screen and (max-width:1190px) {
    .bigTestiWrapper {
        width: 100%
    }
}



@media only screen and (max-width:540px) {
    .img {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
    }

    .imgLabel {
        /* margin-top: 220px; */
        font-size: 15px;
        width: max-content;
    }

    .itemTesti {
        width: 100%;

    }

    .groupTesti {
        height: 100%;
        padding: 0 5px;
    }

    .wrapper {
        min-width: 100%;
    }

    .itemTesti {
        padding: 0;
    }

}